.save-movie-section {
  background-color: rgba(255, 255, 255, 0.2);
  /* border: 2px solid white; */
  width: 25%;
  padding: 15px;
  margin: auto;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #000;
  transition: 0.1s linear;
  backdrop-filter: blur(10px);
}

.save-movie-section:hover {
  box-shadow: 7px 7px 20px #000;
  filter: blur(0px);
}

input {
  background-color: rgba(189, 189, 189, 0.7);
  border: 1px solid #fff;
  /* border-radius: 5px; */
  color: #fff;
  font-size: 24px;
  margin: 5px;
  transition: 0.2s linear;
  width: 70%;
}

input:hover {
  background-color: rgba(30, 30, 30, 0.4);
}

label {
  color: #fff;
}

#watchedCheckBox {
  width: 15px;
  height: 15px;
}

.submitBtn {
  background-color: rgba(30, 30, 30, 0);
  border: 2px solid #fff;
  /* border-radius: 5px; */
  color: #fff;
  font-size: 24px;
  margin: 3px;
  transition: 0.2s linear;
}

.submitBtn:hover {
  background-color: #fff;
  /* border-radius: 10px; */
  color: #000;
}

/* Notifications */

/* Success Notification */

.notification-success {
  background-color: yellowgreen;
  border-left: 4px solid green;
  display: none;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 18%;
}

/* Fail Notification */

.notification-fail {
  background-color: rgb(209, 112, 112);
  border-left: 4px solid rgb(255, 0, 0);
  display: none;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 18%;
}
