.save-movie-section {
  background-color: var(--button-fg-color);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(94, 94, 94);
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  transition: 0.1s linear;
  width: 25%;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
  padding: 7px 14px 9px;
  font-size: 16px;
  margin: 10px;
  transition: 0.4s;
  width: 70%;
}

label {
  color: var(--label-color);
}

#watched-check-box {
  height: 15px;
  width: 15px;
}

.submit-btn {
  border: none;
  background-color: var(--bg-color);
  border-radius: 5px;
  color: var(--fg-color);
  font-size: 20px;
  padding: 5px;
  margin: 3px;
  transition: 0.2s linear;
}

.submit-btn:hover {
  background-color: var(--button-color);
}

/* Notifications */

/* Success Notification */

.notification-success {
  background-color: yellowgreen;
  border-left: 4px solid green;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: opacity 0.1s linear;
  width: 18%;
}

/* Fail Notification */

.notification-fail {
  background-color: rgb(209, 112, 112);
  border-left: 4px solid rgb(255, 0, 0);
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: opacity 0.1s linear;
  width: 18%;
}

.show {
  opacity: 1;
}
