h1 {
  font-size: 34px;
}

.navbar-movies-page {
  background-color: var(--navbar-color);
  text-align: left;
  border-top: 2px solid var(--accent-color);
}

.search-movie-input {
  border: 1px solid var(--border-color);
  font-size: 14px;
  transition: 0.4s;
  width: auto;
  margin: 5px;
  padding: 5px;
}

label {
  margin: 0 5px;
  font-size: 14px;
}

select {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
  font-size: 14px;
  transition: 0.4s;
  width: auto;
  padding: 5px;
}

.select-btn {
  font-size: 16px;
  width: 100px;
}

.main-section {
  display: flex;
}

.movies-section {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 5;
  margin-bottom: 20px;
}

.add-watchlist-section {
  background-color: var(--bg-color-darker);
  color: var(--fg-color);
  display: none;
  flex: 1;
  transition: opacity 0.1s linear;
  position: relative;
  animation-name: show-watchlist-section-animation;
  animation-duration: 1s;
}

@keyframes show-watchlist-section-animation {
  0% {
    left: 400px;
  }

  100% {
    left: 0px;
  }
}

.add-watchlist-section p {
  font-size: 24px;
  margin-left: 10px;
  text-align: left;
}

.add-watchlist-section li {
  text-align: left;
  font-size: 18px;
  list-style: none;
}

.save-watchlist-btn {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  padding: 5px;
  color: var(--button-fg-color);
  font-size: 20px;
  transition: 0.2s linear;
}

.save-watchlist-btn:hover {
  background-color: var(--fg-color);
}

.movie {
  background-color: var(--bg-color-darker);
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  margin: 20px;
  flex: 1;
}

.button-section {
  width: 200px;
  display: flex;
}

.movie button {
  margin-right: 5px;
}

img {
  border-radius: 5px;
  height: 250px;
  margin: 10px;
  width: 150px;
}

.show-movie {
  display: none;
}

.add-watchlist-btn {
  background: var(--button-color-simple);
  border-radius: 4px;
  border: none;
  color: var(--fg-color);
  font-size: 15px;
  padding: 7px;
  transition: 0.2s linear;
}

.add-watchlist-btn:hover {
  background-color: rgb(169, 240, 169);
  color: var(--fg-hover-color);
}

.change-movie-state-btn {
  background: var(--button-color-simple);
  border: none;
  border-radius: 4px;
  color: var(--fg-color);
  font-size: 17px;
  transition: 0.2s linear;
  padding: 5px 5px;
}

.change-movie-state-btn:hover {
  background-color: var(--fg-color);
  color: var(--fg-hover-color);
}

.delete-btn {
  background: var(--button-color-simple);
  border: none;
  border-radius: 4px;
  padding: 7px;
  color: var(--fg-color);
  font-size: 15px;
  transition: 0.2s linear;
}

.delete-btn:hover {
  background-color: rgb(241, 94, 94);
}

/* If movie is not watched glow is red */
.false img:hover {
  box-shadow: 0px 4px 10px #f00;
}

/* If movie is watched glow is green */
.true img:hover {
  box-shadow: 0px 4px 10px #0f0;
}

/* Notifications */

/* Success Notification */

.notification-success-movies-page {
  background-color: rgb(168, 190, 119);
  border-left: 4px solid #0f0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: opacity 0.1s linear;
  top: 50px;
  width: 18%;
  z-index: 1;
}

/* Fail Notification */

.notification-fail-movies-page {
  background-color: rgb(209, 112, 112);
  border-left: 4px solid #f00;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: opacity 0.1s linear;
  top: 55px;
  width: 18%;
}

.show {
  opacity: 1;
}

.show-watchlist-section {
  display: initial;
}
