body {
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 34px;
}

.navbar {
  text-align: left;
}

.search-movie-input {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  font-size: 16px;
  transition: 0.4s;
  width: auto;
}

label {
  margin: 0 5px;
  font-size: 16px;
}

select {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(146, 146, 146);
  padding: 7px 14px 9px;
  font-size: 16px;
  transition: 0.4s;
  width: auto;
}

.select-btn {
  font-size: 16px;
  width: 100px;
}

.main-section {
  display: flex;
}

.movies-section {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 5;
}

.add-watchlist-section {
  background-color: rgba(0, 0, 0, 0.3);
  flex: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.add-watchlist-section p {
  font-size: 24px;
  margin-left: 10px;
  text-align: left;
}

.add-watchlist-section li {
  text-align: left;
  font-size: 18px;
}

.save-watchlist-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  transition: 0.2s linear;
}

.save-watchlist-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.movie {
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  margin: 20px;
  flex: 1;
}

.movie button {
  margin-right: 5px;
}

img {
  /* box-shadow: 2px 2px 10px black; */
  border-radius: 5px;
  height: 250px;
  margin: 10px;
  width: 150px;
}

.show-movie {
  visibility: collapse;
}

.add-watchlist-btn {
  background-color: rgb(68, 68, 68);
  border-radius: 50%;
  border: none;
  color: white;
  padding: 7px;
  transition: 0.2s linear;
}

.add-watchlist-btn:hover {
  background-color: rgb(169, 240, 169);
  color: #000;
}

.change-movie-state-btn {
  background: rgb(68, 68, 68);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 17px;
  transition: 0.2s linear;
  padding: 5px 5px;
}

.change-movie-state-btn:hover {
  background-color: #fff;
  color: #000;
}

.delete-btn {
  background: rgb(68, 68, 68);
  border: none;
  border-radius: 20px;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  transition: 0.2s linear;
}

.delete-btn:hover {
  background-color: rgb(241, 94, 94);
}

/* If movie is not watched glow is red */
.false img:hover {
  box-shadow: 0px 4px 10px #f00;
}

/* If movie is watched glow is green */
.true img:hover {
  box-shadow: 0px 4px 10px #0f0;
}

/* Notifications */

/* Success Notification */

.notification-success-movies-page {
  background-color: rgb(168, 190, 119);
  border-left: 4px solid #0f0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: opacity 0.1s linear;
  top: 10px;
  width: 18%;
  z-index: 1;
}

/* Fail Notification */

.notification-fail-movies-page {
  background-color: rgb(209, 112, 112);
  border-left: 4px solid #f00;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: opacity 0.1s linear;
  top: 15px;
  width: 18%;
}

.show {
  opacity: 1;
}

.show-watchlist-section {
  opacity: 1;
  flex: 1;
}
