:root {
  --bg-color: #818181;
  --bg-color-darker: #3a3a3a;
  --fg-color: #000000;
  --fg-hover-color: #5ecfa4;
  --border-color: #31b381;
}

h1 {
  font-size: 34px;
}

/* .movies-section {
  background-color: rgba(20, 20, 20, 0.2);
  border-radius: 10px;
  margin: auto;
  width: 70%;
  transition: 0.2s linear;
} */

/* .movies-section:hover {
  background-color: rgba(20, 20, 20, 0.5);
} */

img {
  width: 150px;
  height: 250px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 2px 10px black;
  transition: 0.2s linear;
}

/* If movie is not watched glow is red */
.false:hover {
  box-shadow: 0px 4px 10px rgb(252, 0, 0);
  border-radius: 10px;
}

/* If movie is watched glow is green */
.true:hover {
  box-shadow: 0px 4px 10px rgb(0, 255, 0);
  border-radius: 10px;
}
