body {
  margin: 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.links {
  padding: 7px;
  display: inline-flex;
  width: 100%;
}

/* Movie Wheel Animation  */

.movie-wheel {
  background: rgb(75, 75, 75);
  border-radius: 50px;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.movie-wheel div {
  background: #000;
  border-radius: 10px;
  position: absolute;
  width: 7px;
  height: 7px;
}

.top {
  top: 4px;
}
.right {
  right: 4px;
}
.bottom {
  bottom: 4px;
}
.left {
  left: 4px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -------------------------- */

.navigation {
  position: absolute;
  right: 0%;
}

.links button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--fg-color);
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s linear;
}

.links button:hover {
  border-radius: 5px;
  color: var(--fg-hover-color);
}
