:root {
  --bg-color: #868686;
  --bg-color-darker: #3a3a3a;
  --fg-color: #000000;
  --fg-hover-color: #5ecfa4;
  --border-color: #31b381;
}

.random-movie-section {
  position: absolute;
  margin-top: 100px;
}

.random-movie-section h3 {
  background-color: rgb(150, 150, 150);
  border-left: 5px solid var(--border-color);
  padding: 5px;
  position: absolute;
  left: 3%;
  top: -10%;
}

.poster-plot {
  display: flex;
  margin-top: 25px;
  text-align: left;
}

.random-movie-section p {
  flex: 1;
  width: 200px;
  margin-left: 25px;
}
.rating {
  font-size: 24px;
}

a {
  color: #000;
  text-decoration: none;
}

i {
  font-size: 22px;
  margin-right: 5px;
}
i:hover {
  color: #f5c518;
}
