:root {
  --bg-color: #868686;
  --bg-color-darker: #3a3a3a;
  --fg-color: #000000;
  --fg-hover-color: #5ecfa4;
  --border-color: #31b381;
}

.slide-left {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  left: 100%;
  animation: scroll 25s linear infinite;
}

.slide-left a {
  color: var(--border-color);
  text-decoration: none;
}

.slide-left a:hover {
  color: var(--border-color);
  text-decoration: none;
}

@keyframes scroll {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
