.unwatched-movie-section {
  display: flex;
  flex-wrap: wrap;
}

.movie-div {
  background-color: rgb(184, 183, 183);
  border-radius: 5px;
  display: flex;
  flex: 1;
  margin: 10px;
}

.movie-div p {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  text-align: left;
}

.movie-information {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.plot {
  flex: 5;
}

.rating {
  flex: 1;
}

.movie-div img {
  border-radius: 5px;
  flex: 1;
}

.fa-imdb {
  margin-left: 5px;
  transition: 0.1s linear;
}

.fa-imdb:hover {
  color: #f5c518;
}
