:root {
  --bg-color: #f0f0f0;
  --bg-color-darker: #3a3a3a;
  --fg-color: #fff;
  --fg-hover-color: #5ecfa4;
  --border-color: #31b381;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
  background-image: url("./componentStyles/background/luke-peterson-PvQPK0KQqvY-unsplash.jpg");
  background-size: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0px 10px;
  padding: 5px;
  font-size: 20px;
}

.App {
  text-align: center;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

a {
  color: var(--fg-color);
  text-decoration: none;
  transition: 0.2s linear;
}

a:hover {
  color: var(--fg-hover-color);
}

.fa-github:hover {
  color: white;
}
