.theme-light {
  --bg-color: #adadad;
  --bg-color-darker: #c2c2c2;
  --fg-color: #000;
  --fg-hover-color: #fff;
  --border-color: #cccccc;
  --accent-color: rgb(84, 141, 226);
  /*  */
  --button-fg-color: #fff;
  --button-bg-color: rgb(105, 105, 105);
  /*  */
  --input-bg-color: rgb(219, 219, 219);
  --input-fg-color: #505050;
  --navigation-link-color: rgb(56, 56, 56);
  --label-color: rgb(95, 95, 95);
  --navbar-color: #fff;
  --light-mode-button: #000;
}

.theme-dark {
  --bg-color: #464c4f;
  --bg-color-darker: #3a3a3a;
  --fg-color: #fff;
  --button-fg-color: #181a1b;
  --button-bg-color: rgb(204, 204, 204);
  --accent-color: rgb(84, 141, 226);
  --fg-hover-color: #000;
  --border-color: #3e4446;
  --navigation-link-color: #c5c0b8;
  --input-bg-color: #2c3032;
  --input-fg-color: #a1a1a1;
  --label-color: #aca59a;
  --navbar-color: #181a1b;
  --light-mode-button: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
}

.navbar {
  background-color: var(--navbar-color);
  display: inline-flex;
  width: 100%;
}

.navigation-links button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0px 10px;
  padding: 5px;
  padding-bottom: 7px;
  font-size: 20px;
}

.change-mode {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--navigation-link-color);
  font-size: 20px;
  padding: 5px;
  padding-bottom: 7px;
  margin-left: 80%;
  transition: 0.2s linear;
}

.change-mode:hover {
  color: var(--light-mode-button);
}

.app {
  text-align: center;
  min-height: 100%;
  margin-bottom: -20px;
}

.app::after {
  content: "";
  display: block;
}

a {
  color: var(--navigation-link-color);
  text-decoration: none;
  transition: 0.2s linear;
}

.navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(70, 163, 238);
  transition: width 0.1s;
}

.navbar a:hover::after {
  width: 100%;
}

/* Media Queries */

@media screen and (max-width: 1605px) {
  .navbar {
    flex-direction: column;
  }

  .change-mode {
    margin: 0;
  }
}
