:root {
  --bg-color: #adadad;
  --bg-color-darker: #3a3a3a;
  --fg-color: #000;
  --button-fg-color: #fff;
  --button-color: rgb(84, 141, 226);
  --fg-hover-color: #ffffff;
  --border-color: #498be0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
}

.navbar {
  background-color: var(--fg-hover-color);
}

.navbar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0px 10px;
  padding: 5px;
  padding-bottom: 7px;
  font-size: 20px;
}

.app {
  text-align: center;
  min-height: 100%;
  margin-bottom: -20px;
}

.app::after {
  content: "";
  display: block;
}

a {
  color: rgb(71, 71, 71);
  text-decoration: none;
  transition: 0.2s linear;
}

.navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(70, 163, 238);
  transition: width 0.1s;
}

.navbar a:hover::after {
  width: 100%;
}
